       <div id="navbar" class="navbar-wrapper group">
            <div class="navbar-content">
                <header class="float-right">
					<div id="btn-login" class="btn-small-2">LOGIN</div>
                </header>
            </div>
        </div>