        <div id="navbar" class="navbar-wrapper group">
            <div class="navbar-content">
                <header>
                	<div class="logo">{{> logo-small}}</div>
{{!--                     <i class="fa fa-camera-retro fa-2x"></i>
                    <h1>Upkeep</h1> --}}
                </header>
            </div>
        </div>