<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="/css/reset.css" type="text/css" /> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Upkeep</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>