<div class="login-wrapper">
    <h1>Upkeep</h1>
    <!--Scott, I couldn't remember your tag line! -->
    <h2>Take care of your dumb home, smartly.</h2>

    <a class="login" href="/login/google">Sign in with Google
        <i class="fa fa-google" aria-hidden="true"></i>
    </a>
</div>