

<div id="landing" class="wrapper">


        <!-- /// BEGIN navbar partial/header-block.handlebars/// -->
        {{> header-landing-block}}
        <!-- /// END navbar /// -->


        <div class="content-wrapper">

        	

        	<div class="content-wrapper-outer">
        		<div class="image"> {{> landing-image}}

        		</div>
        		 <div class="hero"> 
        		 	<div class="brand">{{> logo-big}}</div>
        		 	<div><h3>The smart home maintenance app for dumb things</h3></div>
					<div id="btn-getStarted" class="btn-big"> Get Started </div> 
					{{!-- <a href="/login">get goin</a></div> --}}
        		</div>

        	</div>



            <!-- /// BEGIN page level navbar /// -->
            <!-- /// END page level navbar /// -->



            <!-- /// BEGIN main content /// -->
{{!--             <div class="content-wrapper-outer">
                <div class="content-wrapper-inner">

                    
                </div>
            </div> --}}
            <!-- /// END main content /// -->


        </div>
    </div>



