

<div id="landing" class="wrapper">

    <!-- /// BEGIN navbar /// -->
    {{> header-landing-block}}
    <!-- /// END navbar /// -->


    <div class="content-wrapper">
    	<div class="content-wrapper-outer">
    		<div class="image"> {{> landing-image}}

    		</div>
    		 <div class="hero"> 
    		 	<div class="brand">{{> logo-big}}</div>
    		 	<h3>A home maintenance smart app for tracking dumb things</h3>
				<div id="btn-getStarted" class="btn-big"> Get Started </div> 
				{{!-- <a href="/login">get goin</a></div> --}}
    		</div>

    	</div>
    </div>
</div>



