<div id="register" class="wrapper">

	<div class="content-wrapper">


		<!-- /// BEGIN page level navbar /// -->
        <div id="" class="navbar-sub-wrapper">
            <!-- Left Nav -->
            <div class="col1">
                <div class="button float-left">
                    {{!-- EVENT LISTNER HERE --}}
                    <div id="btn-back-landing" class="btn-small"> Back </div>
                </div>
            </div>
            <!-- Right Nav -->
            <div class="col3">
                <div class="button float-right">
                    <!-- none -->
                </div>
            </div>
        </div>
        <!-- /// END page level navbar /// -->

		<!-- /// BEGIN main content /// -->
    	<div class="content-wrapper-outer">
    		<div class="content-wrapper-inner">
    			<h3>New and returning users need to sign in with your Google account.</h3>
    			<div id="btn-google" class="btn-small-2"> Continue with Google </div>
    		</div>
    	</div>
		<!-- /// END main content /// -->

    </div>
</div>

