
    <div id="setupItems" class="wrapper">


        <!-- /// BEGIN navbar partial/header-block.handlebars/// -->
        {{> header-block}}
        <!-- /// END navbar /// -->


        <div class="content-wrapper">



            <!-- /// BEGIN page level navbar /// -->
            <div id="" class="navbar-sub-wrapper">
                <!-- Left Nav -->
                <div class="col1">
                    <div class="button float-left">
                        <div id="btn-back-setupitems" class="btn-small"> Back </div>
                    </div>
                </div>
                <!-- Title -->
                <div class="col2">
                    <h2> Maintenance Items </h2>
                </div>
                <!-- Right Nav -->
                <div class="col3">
                    <div class="button float-right">
                        <!-- none -->
                    </div>
                </div>
            </div>
            <!-- /// END page level navbar /// -->



            <!-- /// BEGIN main content /// -->
            <div class="content-wrapper-outer">
                <div class="content-wrapper-inner">

                    <h3> View and Edit Item Details </h3>

                    {{!-- {{#each items}} --}}
                    {{!-- {{#each this.items}} --}}
                    <!-- BEGIN Item -->
                    <div class="item-block">
                        <div class="item-details">
                            <div class="item-titlebar">
                                <div><p> {{!-- {{this.item_name}} --}} A thing</p></div>
                            </div>
                        </div>
                    </div>
                    {{!-- {{/each}} --}}

                    {{!-- FIELDS --}}
                    <div class="item-fields-block">
                            <!-- INPUT: brand -->
                        <div>
                            <label for="brand">Brand</label>
                            <select name="brand" id="item-brand">
                                <option></option>
                            </select>
                        </div>
                        <!-- INPUT: serial -->
                        <div>
                            <label for="serial">Serial #</label>
                            <input type="text" name="serial" id="item-serial" />
                        </div>
                        <!-- INPUT: note -->
                        <div>
                            <textarea placeholder="Add some notes here..." id="item-note"></textarea>
                        </div>

                    </div>

                    {{!-- TASKS --}}
                    <div class="item-tasks-block">
                        <div class="item-tasks">
                            <div><p>Task to be done</p></div>
                            <div>
                                <label for="last-performed">Last done</label>
                                <input type="date" name="last-performed" id="last-performed">
                            </div>
                        </div>
                    </div>
                    <!-- END Item -->

                    <!-- FORM ACTION -->
                    <div class="item-action">
                       <div id="btn-itemsDetails" class="btn-big"> Done </div> 
                    </div>
 
                </div>
            </div>
            <!-- /// END main content /// -->


        </div>
    </div>