/*///// Resets outside of rest.css //////*/
* {
  box-sizing: border-box;
  text-decoration:none;
}
/* modern clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}



/*///// CONTAINERS //////*/


/* REGIONS - Main Content Block Containers  */
#index {}

/*the following should all have the same scaffolding*/
/*may put a wrapper around all of these*/
#register {}
#setup {}
#dashboard {}
#details {}

/* REGIONS - Other Content Block Containers  */
#navbar { display:fixed; }

/* GLOBAL - Page Container  */
.wrapper {}



/*///// DEFINITIONS //////*/
/*  TYPOGRAPHY  */
/* Primary: font-family: 'Helvetica Neue', Helvetica, 'Arial' sans-serif; */
/* Secondary: */

body {  
  font-family: 'Roboto','Helvetica Neue', Helvetica, 'Arial', sans-serif; 
  color: #333; 
  font-size: 13px; 
  margin: 0; 
  padding: 0; 
}

.content-wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto; 

}



/*  INTERACTION  */
nav a:link { color:#999; }
nav a:visited { color:#999; }
nav a:hover { color: #999; }
nav a:active { color: #999; }

.btn-edit a:link { color:#363636; }
.btn-edit a:visited { color:#363636; }
.btn-edit a:hover { color: #363636; }
.btn-edit a:active { color: #363636; }

.btn-getItemId {cursor:pointer;}

/*  FLOATS */
.float-right { float:right; }
.float-left { float:left; }

/* LABELS */
label { font-size: 13px; }





/*  BUTTONS */
.btn-small {
  background: #2b2b42;
  background-image: -webkit-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: -moz-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: -ms-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: -o-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: linear-gradient(to bottom, #2b2b42, #4c4c72);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  text-align:center;
}

.btn-small:hover {
  background: #62628e;
  text-decoration: none;
  text-align:center;
  border-color: #fff;
  cursor:pointer;
}

.btn-small-2 {
  background: transparent;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-color: #fff;
  color: #2b2b42;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  text-align:center;
}

.btn-small-2:hover {
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-align:center;
  cursor:pointer;
}

.btn-big {
  background: #2b2b42;
  background-image: -webkit-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: -moz-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: -ms-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: -o-linear-gradient(top, #2b2b42, #4c4c72);
  background-image: linear-gradient(to bottom, #2b2b42, #4c4c72);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-size: 24px;
  border-radius: 28px;
  color: #ffffff;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  text-align:center;

}

.btn-big:hover {
  background: #62628e;
  text-decoration: none;
  text-align:center;
  cursor:pointer;
}

#btn-login          { width:70px; }
#btn-back           { width:70px; }
#btn-register       { width:225px; }
#btn-login          { margin: 5px 10px; }
#btn-google         { margin:0px 80px; }



/*  CHECKBOX */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 1px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #ccc;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #4c4c72;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    border: 0;
    background-color: #4c4c72;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*  INPUT FIELD */
input[type=text], select {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    font-size: 13px;
}


/*  DATE FIELD */
input[type=date], select {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    font-size: 13px;
}


/*  TEXTAREA */
textarea {
    width: 100%;
    height: 60px;
    padding: 8px 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 13px;
    resize: none;
}







/*///// DETAILS //////*/

.top {
  background: #fff;
  border-bottom: 1px solid #666;
}

.content-set1 {
  position: relative;
  display:fixed;
  width: 960px;
  margin: 0 auto; 
}

/* SECTIONS - #navbar header-block.handlebars */
.navbar-wrapper {
	background: #c0dfdc;
	border-bottom: 1px solid #666;
}

.navbar-content {
	position: relative;
	display:fixed;
	margin: 0 auto;	
}

/*.navbar-content * {
  border: 1px solid #666; 
}*/

header {
	float:left;
	text-align:left;
	padding-left:15px;


}

header .logo{
  height: 26px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}






/* SECTIONS - #navbar-sub  */
.navbar-sub-wrapper {
	display: flex;
	justify-content: space-between;
  height:60px;
  vertical-align: middle;

}

.navbar-sub-wrapper .col1 {
  width: 20%;
  padding: 10px 0;

}
.navbar-sub-wrapper .col2 {
 padding-bottom: 15px;
 padding-top:15px;

}

.navbar-sub-wrapper h2 {
	font-size:24px;
}

.navbar-sub-wrapper .col3 {
	width: 20%;
	padding: 10px 0;

}

.navbar-sub-wrapper .button {
	margin-left: 10px;
	margin-right: 10px;
}





/* SECTIONS - content  */
.content-wrapper-outer {
  padding:35px;
  /*border: 1px solid #666;*/ 
}

.content-wrapper-inner {
  margin: 0 auto;
  width: 50%; 
  padding:25px;
/*  background: #eae8e8;
  border: 1px solid #666; */
}

.content-wrapper-inner h3 {
  text-align: center;
  padding:0px 0px 20px 0px ;
  font-size:18px;
}



/*SPACING - Block*/
#dashboard .item-wrapper { margin-bottom:25px; }
#setupDetail .item-wrapper { margin-bottom:25px;  border-bottom: 1px solid #666;}



/*ITEM TITLE BAR - Block*/
.item-titlebar  {
  background-color: #c0dfdc;
  border: 1px solid #efefef;
}

.item-titlebar div {
  display: inline-block;
  vertical-align: middle;
  height:50px;
  /*border: 1px solid #666;*/ /*remove*/
}

.item-titlebar > div > p {
  padding-left:10px;
  padding-top:17px;
  vertical-align: middle;
  font-size:18px;
  text-shadow: 1px 1px #FFFFFF;
}

.item-titlebar div:first-child {
  margin-bottom: 3px;
}

.item-titlebar .control {
}

.item-titlebar .btn-edit {
  padding-top:5px;
  padding-right:5px;
 /* border: 1px solid #666;*/
}

.item-titlebar .container-checkbox {
  margin-top:12px;
}

/*ITEM FIELDS - Block*/
.item-fields-block, .item-tasks-block   {
  background-color: #fff;
  border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;
 /* border-bottom: 1px solid #666;*/
  padding:15px;
}

.item-fields-block div   {
  margin-bottom: 15px;
}

.item-fields-block div:last-of-type   {
  margin-bottom: 0px;
}

.item-fields > div > p {
  padding-left:10px;
  font-size:18px;
}


/*ITEM TASKS - Block*/
.item-tasks-block  { padding:10px; }
.item-tasks div {
  padding-left:10px;
  padding-right:10px;
}

.item-tasks {
  color:white;
  background-color:#d1574f;
  border-color:#f6f7f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.item-tasks .item-display > p {
  font-size:18px;
}


.item-datestatus-block {
  text-align: center;
  color:white;
}

.overdue {
  padding:5px;
  background-color: red;
  border: 1px solid red;
}

.duesoon {
  padding:5px;
  background-color: DodgerBlue;
  border: 1px solid DodgerBlue;
}

.item-date-block {
  padding:5px;
  text-align: center;
  color:white;
  background-color: #666;
  border: 1px solid #666;
}

/*TASKS*/
.task-title {
  text-shadow: 1px 1px #333333;
  padding: 15px 0px 15px 0px;
}


/* PAGE - LANDING */
/*#landing .content-wrapper div {
  border: 1px solid #666; 
}*/

#landing  {
  background-color:#c0dfdc;
}

#landing  h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold; 
}



#landing .navbar-wrapper {
  background: #c0dfdc;
  border-bottom: 1px solid #2b2b42;
}

#landing .content-wrapper-outer {
  padding: 15px;
  padding-bottom: 800px;
}

#landing .content-wrapper-outer div {
  display:inline-block;
  vertical-align: top;
  margin: 0 auto;
}

#landing .image {
  width:50%;
}

#landing .hero {
   width:48%;
   padding-top:50px;

}

#landing .hero div {
   display:block;
   text-align:center;
}

#landing .brand {
  width:200px; 
}

#landing .btn-big {
  width:60%; 
}

#landing #btn-getStarted {
  margin-top:25px;
}




/* PAGE - REGISTER */
#register  {
  background-color:#c0dfdc;
}

/*#register .content-wrapper * {
  border: 1px solid #666; 
}*/

#register .content-wrapper-outer {
  padding-bottom: 800px;
}

#register .content-wrapper-inner {
  background-color:#f6f7f2;
  border-color:#f6f7f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register .content-wrapper-inner h3 {
  text-align: center;
  padding:0px 0px 30px 0px ;
  font-size:16px;
  line-height: 1.6;
  font-weight:bold;
}


/* PAGE - SETUPITEMS */
/*#setupItems .content-wrapper * {
  border: 1px solid #666; 
}*/
#setupItems .content-wrapper-inner {
  background-color:#ffffff;
  border-color:#e3e3e3;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* PAGE - SETUPDETAIL */
#setupDetail .content-wrapper-inner {
  background-color:#ffffff;
  border-color:#e3e3e3;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* PAGE - DASHBOARD */
#dashboard .item-display {
  padding: 10px 10px 10px 10px;
}

#dashboard .item-tasks-block   {
  background-color: #fff;
  border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-bottom: 1px solid #666;
  padding:15px;
}

.btn-getItemId {
  padding-top:7px;
}




/* PAGE - setupItems  */
#setupItems .item-action {
  padding:20px 25px 0px 25px;

}